namespace {{Namespace}}.Configuration;

public class JwtSettings
{
    public required string SecretKey { get; set; } = string.Empty;
    public required string Issuer { get; set; } = string.Empty;
    public required string Audience { get; set; } = string.Empty;

}
